<p>
  <strong>Username:</strong>
  <%= @user %>
</p>

<ul>
  <% @user.posts.each do |p| %>
    <li><%= p.caption %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
